.title-1 {
  margin: 0;
  position: relative;
  padding-bottom: 100px;
  font-family: $ff-title;
  font-weight: 700;
  font-style: normal;
  font-size: $fz-title;
  line-height: 32px;
  color: $c-main;
  text-transform: uppercase;

  &--line {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 69px;
      left: 0;
      width: 74px;
      height: 1px;
      background-color: $c-green;
    }
  }

  &--center {
    text-align: center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 90px;
      left: 140px;
      width: 74px;
      height: 1px;
      background-color: $c-green;
    }
  }
}

.title-2 {
  margin-bottom: 23px;
  font-family: $ff-main;
  font-weight: 400;
  font-style: normal;
  font-size: $fz-title;
  line-height: 32px;
  color: $c-main;
}

.title-3 {
  margin-bottom: 0;
  font-family: $ff-product-title;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: $c-green;
  text-transform: uppercase;
  text-align: center;
}
