.advertisement {
  padding-bottom: 99px;
  position: relative;

  @media (min-width: $md) {
    padding-bottom: 88px;
  }

  &::after {
    @media (min-width: $xl) {
      content: "";
      display: block;
      position: absolute;
      width: 119px;
      height: 138px;
      background: url("../img/advertisement/list-blur-desc.png") no-repeat;
      bottom: 55px;
      right: 300px;
    }
  }
}

.advertisement__title {
  padding-bottom: 78px;
  text-align: center;

  @media (min-width: $md) {
    padding-bottom: 75px;
  }
}

.advertisement__title br {
  display: none;

  @media (min-width: $xl) {
    display: block;
  }
}

.advertisement__photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (min-width: $md) {
    grid-template-columns: 241px 218px 186px;
    gap: 34px;
    justify-content: center;
  }

  @media (min-width: $xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advertisement__photo picture:nth-child(1) {

  @media (min-width: $md) {
    padding-top: 71px;
  }
}

.advertisement__photo picture:nth-child(3) {

  @media (min-width: $md) {
    margin-left: 5px;
  }

  @media (min-width: $xl) {
    margin-left: 0;
  }
}

.advertisement__photo picture:nth-child(4) {

  @media (min-width: $md) {
    margin-top: -34px;
  }

  @media (min-width: $xl) {
    margin-top: -120px;
  }
}


.advertisement__photo picture:nth-child(5) {

  @media (min-width: $md) {
    margin-left: -20px;
    margin-top: -3px;
  }

  @media (min-width: $xl) {
    margin-left: 0;
  }
}

.advertisement__photo picture:nth-child(6) {

  @media (min-width: $md) {
    margin-top: -74px;
    margin-left: 5px;
  }

  @media (min-width: $xl) {
    margin-left: 0;
  }
}
