.advertisement {
  padding-bottom: 99px;

  @media (min-width: $md) {
    padding-bottom: 88px;
  }
}

.advertisement .container {

  @media (min-width: $md) {
    padding-left: 5px;
  }
}

.advertisement__title {
  padding-bottom: 78px;
  text-align: center;

  @media (min-width: $md) {
    padding-bottom: 75px;
  }
}

.advertisement__photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (min-width: $md) {
    grid-template-columns: 241px 218px 186px;
    gap: 34px;
  }
}

.advertisement__photo picture:nth-child(1) {

  @media (min-width: $md) {
    padding-top: 71px;
  }
}

.advertisement__photo picture:nth-child(3) {

  @media (min-width: $md) {
    margin-left: 5px;
  }
}

.advertisement__photo picture:nth-child(4) {

  @media (min-width: $md) {
    margin-top: -34px;
  }
}


.advertisement__photo picture:nth-child(5) {

  @media (min-width: $md) {
    margin-left: -20px;
    margin-top: -3px;
  }
}

.advertisement__photo picture:nth-child(6) {

  @media (min-width: $md) {
    margin-top: -74px;
    margin-left: 5px;
  }
}
