.contains {
  margin-bottom: 65px;

  @media (min-width: $md) {
    margin-bottom: 115px;
  }
}

.contains__title {
  padding-bottom: 105px;

  @media (min-width: $md) {
    padding-bottom: 111px;
  }

  @media (min-width: $xl) {
    padding-bottom: 147px;
  }
}

.contains__wrapper {

  @media (min-width: $xl) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 80px;
  }
}

.contains__desc {
  position: relative;
  margin-bottom: 60px;

  @media (min-width: $md) {
    margin-bottom: 73px;
  }

  @media (min-width: $xl) {
    max-width: 525px;
    margin-bottom: 0;
  }

  &:nth-child(5) {
    @media (min-width: $xl) {
      grid-row: 1/2;
      grid-column: 2/3;
    }
  }

  &:nth-child(6) {
    @media (min-width: $xl) {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }
}


.contains__photo {
  display: flex;
  justify-content: center;

  @media (min-width: $xl) {
    grid-row: 3/5;
    grid-column: 2/3;
  }
}

.contains__photo-img {
  margin-right: -10px;

  @media (min-width: $md) {
    margin-right: 0;
    margin-left: 48px;
  }
}

.contains__desc-title {
  margin-bottom: 25px;
  color: $c-green;
}

.contains__desc-title br {

  &:first-child {
    @media (min-width: $md) {
      display: block;
    }

    @media (min-width: $lg) {
      display: none;
    }
  }

  &:last-child {
    @media (min-width: $md) {
      display: none;
    }
  }
}

  .contains__desc-text {
  max-width: 253px;
  min-height: 80px;
  white-space: pre-wrap;

  @media (min-width: $md) {
    max-width: 425px;
  }

  @media (min-width: $xl) {
    max-width: 300px;
  }
}

.contains__desc-img {
  position: absolute;
  top: 0;
  right: -10px;

  @media (min-width: $md) {
    top: 3px;
  }

  @media (min-width: $xl) {
   right: -50px;
  }
}
