.delivery {
  margin-bottom: 165px;

  @media (min-width: $md) {
    margin-bottom: 230px;
  }

  @media (min-width: $xl) {
    margin-bottom: 30px;
  }
}

.delivery__title {
  text-align: center;
  padding-bottom: 62px;

  @media (min-width: $md) {
    padding-bottom: 78px;
  }

  @media (min-width: $xl) {
    padding-bottom: 110px;
  }
}

.delivery__title br {
  display: none;

  @media (min-width: $md) {
    display: block;
  }
}

.delivery__cart {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  @media (min-width: $md) {
    margin-bottom: 22px;
  }
}

.delivery__container {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $md) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $xl) {
    position: relative;
    top: -92px;
    z-index: 100;
  }
}

.delivery__link {
  color: $c-secondary;

  @media (min-width: $md) {
    margin-right: 15px;
    min-width: auto;
  }

  @media (min-width: $xl) {
    margin-right: 0;
  }

  @media (max-width: 1290px) {
    min-width: 430px;
  }

  &:hover {
    color: $c-secondary;
    text-decoration: none;
  }
}

.delivery__block {
  margin-bottom: 23px;
  border: 1px solid $c-border-grey;
  border-radius: 5px;
  min-height: 189px;
  padding: 41px 0 0 133px;
  position: relative;
  background-color: $c-white;

  @media (min-width: $md) {
    min-width: 310px;
    padding: 41px 0 0 109px;
    margin-left: 0;
    margin-bottom: 15px;
  }

  @media (min-width: $xl) {
    margin-left: 13px;
  }

  &--active {
    border: 1px solid $c-green-light;
  }
}

.delivery__link:hover .delivery__block {
  border: 1px solid $c-green;
}

.delivery__link:active .delivery__block {
  border: 1px solid $c-green-light;
}

.delivery__block:nth-child(2),
.delivery__block:nth-child(4) {

  @media (min-width: $md) {
    margin-left: 13px;
  }
}

.delivery__block:nth-child(3) {
  @media (min-width: $xl) {
    margin-left: 13px;
  }
}

.delivery__block-title {
  margin-bottom: 12px;
}

.delivery__block-img {
  position: absolute;
  top: 41px;
  left: 58px;

  @media (min-width: $md) {
    left: 33px;
  }
}

.delivery__block-text {
  font-family: $ff-main;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}
