.documents {
  margin-bottom: 127px;

  @media (min-width: $md) {
    margin-bottom: 133px;
  }
}

.documents__title {
  padding-bottom: 85px;

  &::after {
    top: 63px;

    @media (min-width: $md) {
      top: 71px;
    }
  }

  @media (min-width: $md) {
    padding-bottom: 143px;
  }
}

.documents__wrapper {
  display: flex;
  justify-content: center;
}

.documents__wrapper-img:first-child {
  margin-right: 25px;

  @media (min-width: $md) {
    margin-right: 105px;
  }
}
