.features {
  border-bottom: 2px solid $c-line-grey;
  margin-bottom: 97px;
  padding-bottom: 43px;
}

.features__wrapper {
  margin: 0 20px 65px;
}

.features__img {
  margin-bottom: 33px;
}

.features__title {
  margin-bottom: 35px;
}
