.intro {
  position: relative;
  margin-bottom: 22px;
  padding-top: 70px;
  padding-bottom: 407px;
  background: url("../img/background/bg-header-mobile.png") no-repeat 0 613px;
  background-size: contain;

  @media (min-width: $md) {
    margin-bottom: 0;
    padding-top: 75px;
    padding-bottom: 180px;
    background: url("../img/background/bg-header-left-tab.png") no-repeat 0 468px;
  }

  @media (min-width: $xl) {
    padding-top: 185px;
    padding-bottom: 50px;
    margin-bottom: 120px;
    background: url("../img/background/bg-header-left-desc.png") no-repeat -65px 436px;
  }

  &::after {
    content: "";
    display: block;
    width: 203px;
    height: 376px;
    background: url("../img/background/bg-girl-mobile.png") no-repeat;
    position: absolute;
    top: 286px;
    right: 0;
    z-index: -1;

    @media (min-width: $md) {
      width: 338px;
      height: 500px;
      background: url("../img/background/bg-girl-tab.png") no-repeat;
      top: 70px;
      right: 0;
      z-index: 100;
    }

    @media (min-width: $xl) {
      width: 638px;
      height: 766px;
      background: url("../img/background/bg-girl-desc.png") no-repeat;
      right: 9px;
    }

  }
}

.intro__container {
  position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;

        @media (min-width: $md) {
        top: -30px;
        right: -24px;
        width: 190px;
        height: 500px;
        background: url("../img/background/bg-header-right-tab.png") no-repeat;
        }

        @media (min-width: $xl) {
          top: -155px;
          right: -296px;
          width: 604px;
          height: 766px;
          background: url("../img/background/bg-header-right-desc.png") no-repeat;
        }
    }
}

.intro__title {
  position: relative;
  font-family: $ff-intro;
  font-weight: 900;
  font-style: normal;
  font-size: 45px;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 25px;

  
  @media (min-width: $md) {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
  }

  @media (min-width: $xl) {
    font-size: 120px;
    line-height: 97px;
    margin-bottom: 48px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
  }

  &::before {
    width: 88px;
    height: 48px;
    background: url("../img/background/list-mobile.png") no-repeat;
    top: -3px;
    right: -20px;

    @media (min-width: $md) {
      width: 191px;
      height: 88px;
      background: url("../img/background/list-tab.png")no-repeat;
      top: 10px;
      right: 70px;
    }

    @media (min-width: $xl) {
      width: 303px;
      height: 139px;
      background: url("../img/background/list-desc.png")no-repeat;
      top: -90px;
      right: 159px;
    }
  }

  &::after {
    width: 125px;
    height: 95px;
    background: url("../img/background/list-blur-mobile.png") no-repeat;
    bottom: -170px;
    right: 30px;

    @media (min-width: $md) {
      right: 200px;
    }

    @media (min-width: $xl) {
      width: 198px;
      height: 151px;
      background: url("../img/background/list-blur-desc.png") no-repeat;
      right: 350px;
      bottom: -305px;
    }
  }
}

.intro__t-span {
  &--black {
    color: $c-main;
  }

  &--grey {
    color: $c-t-span--grey;
  }

  &--yellow {
    color: $c-t-span--yellow;
  }
}

.intro__t-spacing {
  word-spacing: -8px;

  @media (min-width: $md) {
    word-spacing: -20px;
  }

  @media (min-width: $xl) {
    word-spacing: -10px;
  }
}

.intro__inner {

  @media (min-width: $xl) {
    display: flex;
    padding-bottom: 175px;
  }
}

.intro__text {
  margin-bottom: 35px;

  @media (min-width: $md) {
    margin-bottom: 52px;
  }

  @media (min-width: $xl) {
    margin-bottom: 57px;
    position: relative;
  }

  &--black {
    color: $c-main;
    margin-bottom: 50px;

    @media (min-width: $md) {
      margin-bottom: 113px;
    }

    @media (min-width: $xl) {
      padding-top: 30px;
      padding-left: 35px;
    }
  }
}

.intro__text--grey br {
  display: none;

  @media (min-width: $md) {
    display: block;
  }
}

.intro__text--black br {
  @media (min-width: $md) {
    display: none;
  }
}

.intro__btn {
  max-width: 191px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 40px;
  position: relative;

  @media (min-width: $md) {
    max-width: 210px;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 24px;
  }

  @media (min-width: $xl) {
    max-width: 305px;
    padding: 36px;
  }

  &::after {

    @media (min-width: $md) {
      content: "";
      display: block;
      position: absolute;
      top: 105px;
      left: 180px;
      width: 232px;
      height: 123px;
      background: url("../img/background/list-little-blur-tab.png") no-repeat;
    }

    @media (min-width: $xl) {
      top: 40px;
      left: 245px;
      width: 240px;
      height: 205px;
      background: url("../img/background/list-little-blur-desc.png") no-repeat;
    }
  }
}

.intro__btn br {
  display: none;
}

.intro__list {
  display: flex;
  flex-direction: column;
  margin-left: 78px;

  @media (min-width: $md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 180px;
    position: relative;
    background-color: $c-white;
    border-radius: 10px;
    margin-left: 0;
    max-width: 707px;
    padding: 70px 0 30px 145px;
    box-shadow: 10px 50px 50px $c-shadow-grey;
  }

  @media (min-width: $xl) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px;
    margin-left: 40px;
    max-width: 100%;
  }

  &::before {

    @media (min-width: $md) {
      content: "";
      display: block;
      width: 2px;
      height: 130px;
      position: absolute;
      top: 35px;
      left: 353px;
      background-color: $c-border-grey;
    }
  }

  &::after {

    @media (min-width: $xl) {
      content: "";
      display: block;
      width: 2px;
      height: 130px;
      position: absolute;
      top: 35px;
      right: 360px;
      background-color: $c-border-grey;
    }
  }
}

.intro__item {
  position: relative;
  margin-bottom: 52px;

  @media (min-width: $md) {
    line-height: 24px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
  }
  
  &::before {
    top: 0;
    left: -78px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $ellipse-grey;
  }

  &::after {
    top: 16px;
    left: -62px;
    width: 24px;
    height: 24px;
    background: url("../img/icon/checked-small.svg") no-repeat;
  }

  &:last-child {
    display: none;

    @media (min-width: $xl) {
      display: block;
    }
  }
}
