.product {
  margin-bottom: 116px;

  @media (min-width: $md) {
    padding-bottom: 155px;
    margin-bottom: 160px;
    border-bottom: 2px solid $c-line-grey;
  }

  @media (min-width: $xl) {
    position: relative;
    border-bottom: none;
    margin-bottom: 10px;
  }

  &::before {
    @media (min-width: $xl) {
      content: "";
      display: block;
      position: absolute;
      width: 501px;
      height: 653px;
      bottom: 0;
      right: -13%;
      background: url("../img/background/product-bg-right-desc.jpg") no-repeat;
    }
  }

  &::after {
    @media (min-width: $xl) {
      content: "";
      display: block;
      width: 267px;
      height: 542px;
      position: absolute;
      bottom: -10%;
      left: -6%;
      background: url("../img/background/product-bg-left-desc.jpg");
    }

  
}

// ////////////////////////////
.product .container {
  @media (min-width: $md) {
    padding-right: 7px;
    padding-left: 10px;
  }
}
//////////////////////////////

.product__title {
  padding-bottom: 78px;

  @media (min-width: $md) {
    padding-bottom: 78px;
  }

  @media (min-width: $xl) {
    padding-bottom: 0;
  }

  &::after {
    @media (min-width: $md) {
      top: 115px;
    }
  }
}

.product__img {
  margin-bottom: 153px;
  display: flex;
  justify-content: center;

  @media (min-width: $md) {
    margin-bottom: 128px;
  }

  @media (min-width: $xl) {
    margin-bottom: 115px;
  }
}

.product__wrap {
  @media (min-width: $xl) {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
  }
  }
}

.product__card {
  padding: 50px 50px 30px 45px;
  padding-top: 143px;
  box-shadow: 0px 0px 55px $c-shadow;
  border-top: 6px solid $c-green;
  position: relative;
  margin-bottom: 155px;
  background-color: $c-white;

  @media (min-width: $md) {
    margin-bottom: 153px;
  }

  @media (min-width: $xl) {
   padding: 0;
   padding-top: 143px;
   margin-right: 15px;
   margin-bottom: 0;
   z-index: 100;
   height: auto;
  }

  &:first-child {
    @media (min-width: $xl) {
      max-height: 725px;
    }
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $xl) {
      max-height: 805px;
      z-index: 100;
    }
  }

  &--border-yellow {
    border-top: 6px solid $c-accent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 35px;

    @media (min-width: $xl) {
      max-height: 960px;
      padding-bottom: 40px;
    }
  }
}

.product__card-img {
  position: absolute;
  top: -98px;
  left: 50%;
  transform: translate(-50%);
}

.product__card-title {
  margin-bottom: 22px;
}

.product__card-text {
  margin-bottom: 30px;
  font-family: $ff-product-text;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: $c-main;
  text-align: center;
}

.product__card-list {
  border-bottom: 1px solid $c-border-grey;
  padding: 25px 0 23px 50px;
  margin-bottom: 38px;
  position: relative;

  @media (min-width: $md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 104px;
  }

  &--btop {
    &::before {
      content: "";
      display: block;
      width: 257px;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $c-border-grey;

      @media (min-width: $md) {
        left: 175px;
      }

      @media (min-width: $xl) {
        left: 52px;
      }
    }
  }

  &--mg {
    margin: 0 50px 48px;

    @media (min-width: $xl) {
      margin: 0;
      margin-bottom: 43px;
    }
  }
}

.product__card--border-yellow .product__card-list {
  border-top: none;
}

.product__card-list--mg .product__card-item br {
  display: none;

  @media (min-width: $md) {
    display: block;
    
  }
}

.product__card-item,
.product__card-desc {
  position: relative;
  font-family: $ff-product-text;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 46px;
  color: $c-text-grey;
}

.product__card-item {

  @media (min-width: $md) {
    min-width: 264px;
  }
  
  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 21px;
    position: absolute;
    top: 15px;
    left: -52px;
    background: url("../img/icon/checked-big.svg") no-repeat;
  }
}

.product__card-desc {
  text-align: center;
}

.product__card-cost {
  margin-bottom: 30px;
}

.product__card-wrap-btn {
  display: flex;
  justify-content: center;
}

.product__card-button {
  margin-bottom: 20px;
  color: $c-white;
}

.product__card-insert {
  background-color: $c-accent;
  color: $c-main;
  padding: 28px 0;
  margin-bottom: 5px;

  @media (min-width: $md) {
    max-width: 100%;
  }
}

.product__card--border-yellow .product__card-item {
  line-height: 26px;
  padding-bottom: 20px;

  &::after {
    top: 3px;
  }
}
