.results {
  margin-bottom: 72px;

  @media (min-width: $md) {
    margin-bottom: 15px;
  }
}

.results__title {
  padding-bottom: 0;

  @media (min-width: $md) {
    padding-bottom: 162px;
  }

  @media (min-width: $xl) {
    padding-bottom: 76px;
  }

  &::after {
    top: 62px;

    @media (min-width: $md) {
      top: 77px;
    }

    @media (min-width: $xl) {
      top: 69px;
    }
  }
}

.results__slider-slide {
  padding: 164px 0;

  @media (min-width: $md) {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: $xl) {
    padding-bottom: 132px;
  }
}

.results__slider-wrap {

  &:nth-child(1) {

    @media (min-width: $md) {
      margin-right: 30px;
    }

    @media (min-width: $xl) {
      margin-right: 45px;
    }
  }
}

.results__slider-title {
  font-weight: 700;
  padding-bottom: 19px;

  @media (min-width: $md) {
    font-weight: 700;
    font-size: 35px;
    line-height: 46px;
    padding-bottom: 39px;
    text-align: left;
  }

  @media (min-width: $xl) {
    padding-bottom: 55px;
  }
}

.results__slider-img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.results__b-next,
.results__b-prev {
  top: 89%;

  @media (min-width: $md) {
    top: 80%;
  }

  @media (min-width: $xl) {
    top: 42%;
  }
}

.results__b-next {
  right: 32%;

  @media (min-width: $md) {
    right: 39%;
  }

  @media (min-width: $xl) {
    right: 6%;
  }
}

.results__b-prev {
  left: 30%;

  @media (min-width: $md) {
    left: 43%;
  }

  @media (min-width: $xl) {
    left: 6%;
  }
}
