.slider__b-next,
.slider__b-prev {
  top: 10%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;

  @media (min-width: $md) {
    top: 90%;
  }

  @media (min-width: $xl) {
    top: 85%;
  }

  &::after {
    content: "";
  }
}

.slider__b-next,
.slider__b-prev {
  border: 2px solid $c-green;
}

.slider__b-next, 
.slider__b-prev {
  &:hover {
    background-color: $c-green-light;
    border: none;
  }
  &:active {
    background-color: $c-green;
    border: none;
  }
}

.slider__b-next svg,
.slider__b-prev svg {
  width: 30px;
  height: 30px;
  fill: $c-green;
}

.slider__b-prev svg {
  transform: rotate(180deg);
}

.slider__b-next:active svg,
.slider__b-prev:active svg,
.slider__b-next:hover svg,
.slider__b-prev:hover svg {
  fill: $c-white;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  font-size: 14px;
  line-height: 20px;
  background-color: $c-main;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 35px;
}

.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background-color: $c-active-bul;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -11px;
    left: -11px;
    border: 1px solid $c-active-bul;
    border-radius: 50%;
  }
}
