.slider-1__slide {
  @media (min-width: $md) {
    display: grid;
    grid-template-columns: 175px 487px;
    gap: 58px;
    padding-bottom: 85px;
    position: relative;
  }

  &::after {

    @media (min-width: $md) {
      content: "";
      display: block;
      width: 73px;
      height: 62px;
      position: absolute;
      bottom: 23px;
      right: 30px;
      background: url("../img/icon/quotes.svg") no-repeat;
    }
  }
}

.slider-1__img {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  @media (min-width: $md) {
    justify-content: left;
    padding-top: 14px;
    padding-left: 8px;
  }
}

.slider-1__wrap-text {

}

.slider-1__title {
  text-align: center;
  color: $c-green;
  line-height: 29px;
  padding-bottom: 35px;

  @media (min-width: $md) {
    text-align: left;
    display: flex;
    justify-content: right;
    line-height: 43px;
    padding-bottom: 36px;
  }
}

.slider-1__text {
  padding-left: 20px;
  border-left: 10px solid $c-green;

  font-size: 15px;
  line-height: 25px;

  @media (min-width: $md) {
    padding-left: 35px;
  }
}

.slider-1__b-next {
  @media (min-width: $md) {
    right: 347px;
  }
}

.slider-1__b-prev {
  @media (min-width: $md) {
    left: 233px;
  }
}

.slider__b-next,
.slider__b-prev {
  top: 10%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;

  @media (min-width: $md) {
    top: 89%;
  }

  &::after {
    content: "";
  }
}

.slider__b-next {
  background-color: $c-green;
}

.slider__b-prev {
  border: 2px solid $c-green;
}


.slider__b-next svg,
.slider__b-prev svg {
  width: 30px;
  height: 30px;
}

.slider__b-next svg {
  fill: $c-white;
}

.slider__b-prev svg {
  transform: rotate(180deg);
  fill: $c-green;
}
