.advertisement {
  padding-bottom: 99px;
}

.advertisement__title {
  padding-bottom: 78px;
  text-align: center;
}

.advertisement__photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.advertisement__photo img {
}
