// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 900;
  font-family: HelveticaNeueCyr;
  font-style: normal;

  font-display: swap;
  src: url(../font/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff2),
  url(../font/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff);
}

@font-face {
  font-weight: 400;
  font-family: GothamPro;
  font-style: normal;

  font-display: swap;
  src: url(../font/GothamPro/GothamPro.woff2),
  url(../font/GothamPro/GothamPro.woff);
}

@font-face {
  font-weight: 700;
  font-family: "GothamPro Bold";
  font-style: normal;

  font-display: swap;
  src: url(../font/GothamPro/GothamPro-Bold.woff2),
  url(../font/GothamPro/GothamPro-Bold.woff);
}


@font-face {
  font-weight: 400;
  font-family: "SF-UI-Display";
  font-style: normal;

  font-display: swap;
  src: url(../font/SF-UI/SF-UI-Display-Regular.woff2),
  url(../font/SF-UI/SF-UI-Display-Regular.woff);
}


@font-face {
  font-weight: 400;
  font-family: "SF-UI-Text";
  font-style: normal;

  font-display: swap;
  src: url(../font/SF-UI/SF-UI-Text-Regular.woff2),
  url(../font/SF-UI/SF-UI-Text-Regular.woff);
}
