body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  font-family: $ff-main;
  font-weight: 400;
  font-style: normal;
  font-size: $fz-main;
  line-height: 23px;
  color: $c-secondary;

  // overflow-x: hidden;
  @media (min-width: $md) {
    font-size: 15px;
    line-height: 25px;
  }
}

.main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// input auto-complete change color
:-webkit-autofill {
  box-shadow: 0 0 100px #fff inset;

  -webkit-text-fill-color: currentColor;
}

.main-text {
  margin: 0;
  font-family: $ff-main;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  color: $c-secondary;
}
