// //////////////////////////////////////// font-family
$ff-main: "GothamPro", sans-serif;
$ff-intro: "HelveticaNeueCyr", sans-serif;
$ff-title: "GothamPro Bold", sans-serif;
$ff-product-title: "SF-UI-Display", sans-serif;
$ff-product-text: "SF-UI-Text", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: 14px;
$fz-title: 25px;

// //////////////////////////////////////// colors 
$c-main: #000;
$c-secondary: #545454;
$c-accent: #f4e03a;
$c-bc-burger: #08083d;
$c-t-span--grey: #c1c1c1;
$c-t-span--yellow: #c9ed25;
$ellipse-grey: rgba(39, 174, 96, 0.12);
$c-green: #08af00;
$c-green-light: #00ed2f;
$c-line-grey: #d3d3d3;
$c-border-grey: #e0e0e0;
$c-white: #fff;
$c-shadow: rgba(0, 0, 0, 0.1);
$c-shadow-grey: rgba(13, 16, 37, 0.06);
$c-text-grey: #8d8b8b;
// //////////////////////////////////////// breakpoints
$sl: 1499.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;

// //////////////////////////////////////// grid
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px !important;
}

.col {
  margin: 0 10px;
}

$gap: 20px;
$c-12: calc(100% - #{$gap});
$c-11: calc(91.666667% - #{$gap});
$c-10: calc(83.333333% - #{$gap});
$c-9: calc(75% - #{$gap});
$c-8: calc(66.666667% - #{$gap});
$c-7: calc(58.333333% - #{$gap});
$c-6: calc(50% - #{$gap});
$c-5: calc(41.666667% - #{$gap});
$c-4: calc(33.333333% - #{$gap});
$c-3: calc(25% - #{$gap});
$c-2: calc(16.666667% - #{$gap});
$c-1: calc(8.333333% - #{$gap});
